*{
    background-color: #666;
    color: white;
    

}

h2{
    color:red;
    font-weight: 600;
}
.input{
    padding:20px ;

}

input{
    margin-bottom: 5px;
    background-color: white;
    color:black;
}

button {
        border-radius: 10px;

}